.form-page{

margin-left:260px;

padding:110px 40px;

background:#F4F7FB;

min-height:100vh;

}

.form-card{

background:white;

padding:40px;

border-radius:20px;

max-width:750px;

margin:auto;

box-shadow:0 5px 18px rgba(0,0,0,.12);

}

.form-card h1{

color:#072F5F;

margin-bottom:8px;

}

.form-card p{

margin-bottom:30px;

color:#666;

}

form{

display:flex;

flex-direction:column;

gap:18px;

}

input{

padding:16px;

font-size:16px;

border:1px solid #ddd;

border-radius:10px;

outline:none;

}

input:focus{

border-color:#072F5F;

}

button{

background:#072F5F;

color:white;

padding:16px;

font-size:16px;

border:none;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#C9A84F;

color:#072F5F;

font-weight:bold;

}