.sidebar{
    width:260px;
    height:100vh;
    background:#072F5F;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    position:fixed;
    left:0;
    top:0;
    color:white;
    box-shadow:4px 0 20px rgba(0,0,0,.2);

    overflow-y:auto;
    z-index:1000;
}

.sidebar-menu{
    display:flex;
    flex-direction:column;
    gap:15px;
    padding:20px;
    flex:1;
}

.sidebar::-webkit-scrollbar{
    width:5px;
}

.sidebar::-webkit-scrollbar-thumb{
    background:#C9A84F;
    border-radius:20px;
}

.sidebar-top{

padding:35px 20px;

text-align:center;

}

.sidebar-logo{
    width:220px;
    height:auto;
    margin-bottom:1px;
}

.sidebar-top h1{

font-size:34px;

font-weight:700;

margin-bottom:5px;

letter-spacing:1px;

}

.sidebar-top p{

font-size:13px;

color:#C9A84F;

letter-spacing:3px;

text-transform:uppercase;

}


.menu-item{

display:flex;

align-items:center;

gap:14px;

padding:15px 18px;

border-radius:12px;

text-decoration:none;

color:white;

font-size:17px;

font-weight:500;

transition:.3s;

}

.menu-item:hover{

background:#0F4C81;

}

.menu-item.active{

background:#C9A84F;

color:#072F5F;

font-weight:bold;

}

.sidebar-bottom{

padding:25px;

}

.logout-btn{

width:100%;

padding:14px;

background:#C9A84F;

color:#072F5F;

font-size:16px;

font-weight:700;

border:none;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

.logout-btn:hover{

background:white;

}

@media (max-width:1200px){

.sidebar{
    width:220px;
}

}

@media (max-width:768px){

.sidebar{
    display:none;
}

}