.table-page{
    margin-left:260px;
    min-height:100vh;
    padding:110px 40px;
    background:#F4F7FB;
    box-sizing:border-box;
    width:auto;
}

.table-wrapper{
    background:white;
    width:100%;
    padding:35px;
    border-radius:20px;
    box-shadow:0 5px 18px rgba(0,0,0,.12);
    overflow-x:auto;
    box-sizing:border-box;
    -webkit-overflow-scrolling:touch;
}

.table-wrapper h1{

color:#072F5F;

margin-bottom:8px;

}

.table-wrapper p{

margin-bottom:30px;

color:#666;

}

table{
    width:100%;
    min-width:700px;
    border-collapse:collapse;
}

.table-wrapper::-webkit-scrollbar{
    height:6px;
}

.table-wrapper::-webkit-scrollbar-thumb{
    background:#C9A84F;
    border-radius:10px;
}

thead{

background:#072F5F;

color:white;

}

th{

padding:16px 18px;

text-align:left;

}

td{

padding:16px 18px;

border-bottom:1px solid #eee;

}

tbody tr:hover{

background:#F9FBFD;

}

a{

background:#072F5F;

color:white;

padding:8px 16px;

text-decoration:none;

border-radius:8px;

transition:.3s;

}

a:hover{

background:#C9A84F;

color:#072F5F;

}

@media (max-width:768px){

    .table-page{
        margin-left:0;
        width:100%;
        padding:80px 15px 20px;
        box-sizing:border-box;
    }

    .table-wrapper{
        width:100%;
        padding:18px;
        border-radius:15px;
    }

    .table-wrapper h1{
        font-size:24px;
    }

    .table-wrapper p{
        font-size:15px;
    }

    table{
        min-width:700px;
        font-size:14px;
    }

    th,
    td{
        padding:10px;
        white-space:nowrap;
    }

    a{
        display:inline-block;
        padding:8px 12px;
        font-size:13px;
    }
}